node_modules
.env
__pycache__/
*.pyc
.DS_Store
artifacts/
.vscode/
coverage
cache/
*.log
contract-abi.json
contract-address.json
umbral_state.json
a_ratio_history.json
*.pyc
/nodes/__pycache__
